/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap'); */

        * {
            box-sizing: border-box;
        }

        body {
            background-color: #f5f5f5;
            color: #444;
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            margin: 0;
        }

        h1 {
            color: rgb(81, 52, 110);
            font-size: 4rem;
            text-align: center;
            font-family: fantasy;
            font-weight: 100;
        }

        form {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            max-width: 100%;
            width: 400px;
        }

        .input {
            border: none;
            color: #444;
            font-size: 2rem;
            padding: 1rem 2rem;
            display: block;
            width: 100%;
            border-radius: 10px;
            outline: none;
            transition: border 0.3s;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        }

        .input::placeholder {
            color: #d5d5d5;
        }

        .input:focus {
            border: 2px solid rgb(179, 131, 226);
        }

        .todos {
            background-color: #fff;
            padding: 0;
            margin: 0;
            list-style-type: none;
            border-radius: 5px;
        }

        .todos li {
            border-top: 1px solid #e5e5e5;
            cursor: pointer;
            font-size: 1.5rem;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;
        }

        .todos li.completed {
            color: #b6b6b6;
            text-decoration: line-through;
        }

        .tick {
            display: none;
            cursor: pointer;
            color: rgb(83, 53, 114);
            font-size: 1.5rem;
        }

        .todos li.completed .tick {
            display: inline;
        }

        small {
            color: #b5b5b5;
            margin-top: 3rem;
            text-align: center;
        }

        @media (max-width: 500px) {
            h1 {
                font-size: 5rem;
            }

            .input {
                font-size: 1.5rem;
            }
        }